MAKE Scenarios/1.0_Create Forms for Job ad and store in Google drive folder_blueprint.json
{
    "name": "1.0_Create Forms for Job ad and store in Google Drive Folder",
    "flow": [
        {
            "id": 8,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 781313,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -688,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "get_google_folder"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://digibp.herokuapp.com/engine-rest/external-task/fetchAndLock",
                "data": "{\n  \"workerId\":\"IntegromatWorker\",\n  \"maxTasks\":1,\n  \"asyncResponseTimeout\":29000,\n  \"topics\":[\n    {\n      \"topicName\":\"CreateJobForm\",\n      \"lockDuration\":20000,\n      \"tenantId\":\"peaches\"\n    }\n  ]\n}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -357,
                    "y": -6
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-forms:createForm",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1427294
            },
            "mapper": {
                "info": {
                    "title": "Salary estimation request - {{3.data[].variables.job_title.value}} ({{3.data[].variables.instance_id.value}})",
                    "description": "{{3.data[].variables.job_description.value}}",
                    "documentTitle": "Salary estimation request - {{3.data[].variables.job_title.value}} ({{3.data[].variables.instance_id.value}})"
                },
                "items": [
                    {
                        "image": {
                            "sourceUri": "https://i.imgur.com/y6vRGlQ.png",
                            "properties": {
                                "alignment": "CENTER"
                            }
                        },
                        "title": "Work at our company",
                        "itemType": "imageItem"
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Surname",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        }
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "First name",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        }
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Email Address",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        }
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Age",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        },
                        "description": "Your Age in years"
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "  Professional experience in Years",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        }
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Highest Diploma",
                        "itemType": "questionItem",
                        "question": {
                            "type": "DROP_DOWN",
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "options": [
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "None"
                                },
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "Apprenticeship"
                                },
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "Higher Technical College"
                                },
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "Bachelor"
                                },
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "Master"
                                },
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "PhD"
                                }
                            ],
                            "shuffle": false,
                            "required": true,
                            "questionType": "choiceQuestion"
                        }
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Number of Kids below 16",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        }
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Number of kids aged 16 or older in education",
                        "itemType": "questionItem",
                        "question": {
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "required": true,
                            "paragraph": false,
                            "questionType": "textQuestion"
                        },
                        "description": "(eligible for educational allowance)"
                    },
                    {
                        "image": {
                            "properties": {}
                        },
                        "title": "Job ID",
                        "itemType": "questionItem",
                        "question": {
                            "type": "RADIO",
                            "grading": {
                                "whenRight": {},
                                "whenWrong": {},
                                "correctAnswers": {},
                                "generalFeedback": {}
                            },
                            "options": [
                                {
                                    "image": {
                                        "properties": {}
                                    },
                                    "value": "{{3.data[].variables.instance_id.value}}"
                                }
                            ],
                            "shuffle": false,
                            "required": true,
                            "questionType": "choiceQuestion"
                        },
                        "description": "Confirm Job ID"
                    }
                ],
                "settings": {
                    "quizSettings": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "items": {
                            "mode": "chose",
                            "items": [
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Center"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Image Item"
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        },
                                        "collapsed": true
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        },
                                                        "collapsed": true
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Drop Down"
                                            },
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "options": {
                                                "mode": "chose",
                                                "items": [
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                ],
                                                "collapsed": true
                                            },
                                            "shuffle": {
                                                "mode": "chose"
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Choice Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "paragraph": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Text Question"
                                            }
                                        }
                                    }
                                },
                                {
                                    "image": {
                                        "nested": {
                                            "properties": {
                                                "nested": {
                                                    "alignment": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "itemType": {
                                        "mode": "chose",
                                        "label": "Question Item"
                                    },
                                    "question": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Radio"
                                            },
                                            "grading": {
                                                "nested": {
                                                    "whenRight": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "whenWrong": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "correctAnswers": {
                                                        "nested": {
                                                            "answers": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    },
                                                    "generalFeedback": {
                                                        "nested": {
                                                            "material": {
                                                                "mode": "chose"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "options": {
                                                "mode": "chose",
                                                "items": [
                                                    {
                                                        "image": {
                                                            "nested": {
                                                                "properties": {
                                                                    "nested": {
                                                                        "alignment": {
                                                                            "mode": "chose",
                                                                            "label": "Empty"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "collapsed": true
                                                        },
                                                        "isOther": {
                                                            "mode": "chose"
                                                        },
                                                        "goToAction": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                ]
                                            },
                                            "shuffle": {
                                                "mode": "chose"
                                            },
                                            "required": {
                                                "mode": "chose"
                                            },
                                            "questionType": {
                                                "mode": "chose",
                                                "label": "Choice Question"
                                            }
                                        }
                                    }
                                }
                            ]
                        },
                        "settings": {
                            "nested": {
                                "quizSettings": {
                                    "nested": {
                                        "isQuiz": {
                                            "mode": "chose"
                                        }
                                    }
                                }
                            },
                            "collapsed": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "digital.jucy.peaches@gmail.com (digital.juicy.peaches@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "info",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title",
                                "required": true
                            },
                            {
                                "name": "documentTitle",
                                "type": "text",
                                "label": "Document Title"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            }
                        ],
                        "type": "collection",
                        "label": "Info"
                    },
                    {
                        "name": "items",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "title",
                                    "type": "text",
                                    "label": "Title"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "itemType",
                                    "type": "select",
                                    "label": "Item Type",
                                    "options": [
                                        {
                                            "label": "Question Item",
                                            "value": "questionItem",
                                            "nested": [
                                                {
                                                    "name": "question",
                                                    "spec": [
                                                        {
                                                            "name": "required",
                                                            "type": "boolean",
                                                            "label": "Required",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "questionType",
                                                            "type": "select",
                                                            "label": "Question Type",
                                                            "options": [
                                                                {
                                                                    "label": "Choice Question",
                                                                    "value": "choiceQuestion",
                                                                    "nested": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "select",
                                                                            "label": "Choice Type",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Radio",
                                                                                    "value": "RADIO"
                                                                                },
                                                                                {
                                                                                    "label": "Checkbox",
                                                                                    "value": "CHECKBOX"
                                                                                },
                                                                                {
                                                                                    "label": "Drop Down",
                                                                                    "value": "DROP_DOWN"
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "options",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "value",
                                                                                        "type": "text",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "Whether the option is `other`. Currently only applies to `Radio` and `Checkbox` choice types.",
                                                                                        "name": "isOther",
                                                                                        "type": "boolean",
                                                                                        "label": "Is Other"
                                                                                    },
                                                                                    {
                                                                                        "help": "You can only provide either `Go To Action` or `Go To Section ID` but not both. Either all or no options must be go to enabled.",
                                                                                        "name": "goToAction",
                                                                                        "type": "select",
                                                                                        "label": "Go To Action",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Next Section",
                                                                                                "value": "NEXT_SECTION"
                                                                                            },
                                                                                            {
                                                                                                "label": "Back to the Beginning",
                                                                                                "value": "RESTART_FORM"
                                                                                            },
                                                                                            {
                                                                                                "label": "Submit Form Immediately",
                                                                                                "value": "SUBMIT_FORM"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "help": "You can only provide either `Go To Action` or `Go To Section ID` but not both. Either all or no options must be go to enabled.",
                                                                                        "name": "goToSectionId",
                                                                                        "type": "text",
                                                                                        "label": "Go To Section ID"
                                                                                    },
                                                                                    {
                                                                                        "name": "image",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "sourceUri",
                                                                                                "type": "url",
                                                                                                "label": "Source URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "altText",
                                                                                                "type": "text",
                                                                                                "label": "Alt Text"
                                                                                            },
                                                                                            {
                                                                                                "name": "properties",
                                                                                                "spec": [
                                                                                                    {
                                                                                                        "name": "alignment",
                                                                                                        "type": "select",
                                                                                                        "label": "Alignment",
                                                                                                        "options": [
                                                                                                            {
                                                                                                                "label": "Left",
                                                                                                                "value": "LEFT"
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "Right",
                                                                                                                "value": "RIGHT"
                                                                                                            },
                                                                                                            {
                                                                                                                "label": "Center",
                                                                                                                "value": "CENTER"
                                                                                                            }
                                                                                                        ]
                                                                                                    },
                                                                                                    {
                                                                                                        "name": "width",
                                                                                                        "type": "uinteger",
                                                                                                        "label": "Width in pixels",
                                                                                                        "validate": {
                                                                                                            "max": 740,
                                                                                                            "min": 0
                                                                                                        }
                                                                                                    }
                                                                                                ],
                                                                                                "type": "collection",
                                                                                                "label": "Properties"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Image",
                                                                                        "advanced": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Option"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Options",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "shuffle",
                                                                            "type": "boolean",
                                                                            "label": "Shuffle",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Text Question",
                                                                    "value": "textQuestion",
                                                                    "nested": [
                                                                        {
                                                                            "help": "Whether the question is a paragraph question or not. If not, the question is a short text question.",
                                                                            "name": "paragraph",
                                                                            "type": "boolean",
                                                                            "label": "Paragraph",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Scale Question",
                                                                    "value": "scaleQuestion",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The lowest possible value for the scale.",
                                                                            "name": "low",
                                                                            "type": "integer",
                                                                            "label": "Low",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The highest possible value for the scale.",
                                                                            "name": "high",
                                                                            "type": "integer",
                                                                            "label": "High",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "lowLabel",
                                                                            "type": "text",
                                                                            "label": "Low Label"
                                                                        },
                                                                        {
                                                                            "name": "highLabel",
                                                                            "type": "text",
                                                                            "label": "High Label"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Date Question",
                                                                    "value": "dateQuestion",
                                                                    "nested": [
                                                                        {
                                                                            "help": "Whether to include the time as part of the question.",
                                                                            "name": "includeTime",
                                                                            "type": "boolean",
                                                                            "label": "Include Time",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "Whether to include the year as part of the question.",
                                                                            "name": "includeYear",
                                                                            "type": "boolean",
                                                                            "label": "Include Year",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Time Question",
                                                                    "value": "timeQuestion",
                                                                    "nested": [
                                                                        {
                                                                            "help": "`Yes` if the question is about an elapsed time. Otherwise it is about a time of day.",
                                                                            "name": "duration",
                                                                            "type": "boolean",
                                                                            "label": "Duration",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "mappable": false,
                                                            "required": true
                                                        },
                                                        {
                                                            "help": "If not provided, a new ID is assigned.",
                                                            "name": "questionId",
                                                            "type": "text",
                                                            "label": "Question ID"
                                                        },
                                                        {
                                                            "name": "grading",
                                                            "spec": [
                                                                {
                                                                    "help": "The maximum number of points a respondent can automatically get for a correct answer.",
                                                                    "name": "pointValue",
                                                                    "type": "uinteger",
                                                                    "label": "Point Value"
                                                                },
                                                                {
                                                                    "name": "correctAnswers",
                                                                    "spec": [
                                                                        {
                                                                            "help": "Correct answers may only be specified for `Text`, `Checkbox`, `Radio`, and `Drop Down` questions.",
                                                                            "name": "answers",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "value",
                                                                                        "type": "text",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Answer"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Answers"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Correct Answers"
                                                                },
                                                                {
                                                                    "name": "whenRight",
                                                                    "spec": [
                                                                        {
                                                                            "name": "text",
                                                                            "type": "text",
                                                                            "label": "Text"
                                                                        },
                                                                        {
                                                                            "name": "material",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "link",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "url",
                                                                                                "label": "URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "displayText",
                                                                                                "type": "text",
                                                                                                "label": "Display Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Link"
                                                                                    },
                                                                                    {
                                                                                        "name": "video",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "youtubeUri",
                                                                                                "type": "url",
                                                                                                "label": "Youtube URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "displayText",
                                                                                                "type": "text",
                                                                                                "label": "Display Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Video"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Material"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Materials"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "When Right"
                                                                },
                                                                {
                                                                    "name": "whenWrong",
                                                                    "spec": [
                                                                        {
                                                                            "name": "text",
                                                                            "type": "text",
                                                                            "label": "Text"
                                                                        },
                                                                        {
                                                                            "name": "material",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "link",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "url",
                                                                                                "label": "URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "displayText",
                                                                                                "type": "text",
                                                                                                "label": "Display Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Link"
                                                                                    },
                                                                                    {
                                                                                        "name": "video",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "youtubeUri",
                                                                                                "type": "url",
                                                                                                "label": "Youtube URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "displayText",
                                                                                                "type": "text",
                                                                                                "label": "Display Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Video"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Material"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Materials"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "When Wrong"
                                                                },
                                                                {
                                                                    "name": "generalFeedback",
                                                                    "spec": [
                                                                        {
                                                                            "name": "text",
                                                                            "type": "text",
                                                                            "label": "Text"
                                                                        },
                                                                        {
                                                                            "name": "material",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "link",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "uri",
                                                                                                "type": "url",
                                                                                                "label": "URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "displayText",
                                                                                                "type": "text",
                                                                                                "label": "Display Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Link"
                                                                                    },
                                                                                    {
                                                                                        "name": "video",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "youtubeUri",
                                                                                                "type": "url",
                                                                                                "label": "Youtube URI"
                                                                                            },
                                                                                            {
                                                                                                "name": "displayText",
                                                                                                "type": "text",
                                                                                                "label": "Display Text"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Video"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Material"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Materials"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "General Feedback"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Grading",
                                                            "advanced": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Question"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "sourceUri",
                                                            "type": "url",
                                                            "label": "Source URI"
                                                        },
                                                        {
                                                            "name": "altText",
                                                            "type": "text",
                                                            "label": "Alt Text"
                                                        },
                                                        {
                                                            "name": "properties",
                                                            "spec": [
                                                                {
                                                                    "name": "alignment",
                                                                    "type": "select",
                                                                    "label": "Alignment",
                                                                    "options": [
                                                                        {
                                                                            "label": "Left",
                                                                            "value": "LEFT"
                                                                        },
                                                                        {
                                                                            "label": "Right",
                                                                            "value": "RIGHT"
                                                                        },
                                                                        {
                                                                            "label": "Center",
                                                                            "value": "CENTER"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "width",
                                                                    "type": "uinteger",
                                                                    "label": "Width in pixels",
                                                                    "validate": {
                                                                        "max": 740,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Properties"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image",
                                                    "advanced": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Grid Item",
                                            "value": "questionGroupItem",
                                            "nested": [
                                                {
                                                    "name": "questions",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "required",
                                                                "type": "boolean",
                                                                "label": "Required",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "questionType",
                                                                "type": "select",
                                                                "label": "Question Type",
                                                                "default": "rowQuestion",
                                                                "options": [
                                                                    {
                                                                        "label": "Row Question",
                                                                        "value": "rowQuestion",
                                                                        "nested": [
                                                                            {
                                                                                "help": " The title for the single row in the `Question Group Item`.",
                                                                                "name": "title",
                                                                                "type": "text",
                                                                                "label": "Row Title",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "mappable": false,
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "grading",
                                                                "spec": [
                                                                    {
                                                                        "help": "The maximum number of points a respondent can automatically get for a correct answer.",
                                                                        "name": "pointValue",
                                                                        "type": "uinteger",
                                                                        "label": "Point Value"
                                                                    },
                                                                    {
                                                                        "name": "correctAnswers",
                                                                        "spec": [
                                                                            {
                                                                                "name": "answers",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "value",
                                                                                            "type": "text",
                                                                                            "label": "Value",
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Answer"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Answers"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Correct Answers"
                                                                    },
                                                                    {
                                                                        "name": "whenRight",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text"
                                                                            },
                                                                            {
                                                                                "name": "material",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "link",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "uri",
                                                                                                    "type": "url",
                                                                                                    "label": "URI"
                                                                                                },
                                                                                                {
                                                                                                    "name": "displayText",
                                                                                                    "type": "text",
                                                                                                    "label": "Display Text"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Link"
                                                                                        },
                                                                                        {
                                                                                            "name": "video",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "youtubeUri",
                                                                                                    "type": "url",
                                                                                                    "label": "Youtube URI"
                                                                                                },
                                                                                                {
                                                                                                    "name": "displayText",
                                                                                                    "type": "text",
                                                                                                    "label": "Display Text"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Video"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Material"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Materials"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "When Right"
                                                                    },
                                                                    {
                                                                        "name": "whenWrong",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text"
                                                                            },
                                                                            {
                                                                                "name": "material",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "link",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "uri",
                                                                                                    "type": "url",
                                                                                                    "label": "URI"
                                                                                                },
                                                                                                {
                                                                                                    "name": "displayText",
                                                                                                    "type": "text",
                                                                                                    "label": "Display Text"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Link"
                                                                                        },
                                                                                        {
                                                                                            "name": "video",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "youtubeUri",
                                                                                                    "type": "url",
                                                                                                    "label": "Youtube URI"
                                                                                                },
                                                                                                {
                                                                                                    "name": "displayText",
                                                                                                    "type": "text",
                                                                                                    "label": "Display Text"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Video"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Material"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Materials"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "When Wrong"
                                                                    },
                                                                    {
                                                                        "name": "generalFeedback",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text"
                                                                            },
                                                                            {
                                                                                "name": "material",
                                                                                "spec": {
                                                                                    "spec": [
                                                                                        {
                                                                                            "name": "link",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "uri",
                                                                                                    "type": "url",
                                                                                                    "label": "URI"
                                                                                                },
                                                                                                {
                                                                                                    "name": "displayText",
                                                                                                    "type": "text",
                                                                                                    "label": "Display Text"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Link"
                                                                                        },
                                                                                        {
                                                                                            "name": "video",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "youtubeUri",
                                                                                                    "type": "url",
                                                                                                    "label": "Youtube URI"
                                                                                                },
                                                                                                {
                                                                                                    "name": "displayText",
                                                                                                    "type": "text",
                                                                                                    "label": "Display Text"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Video"
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Material"
                                                                                },
                                                                                "type": "array",
                                                                                "label": "Materials"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "General Feedback"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Grading",
                                                                "advanced": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Question"
                                                    },
                                                    "type": "array",
                                                    "label": "Questions"
                                                },
                                                {
                                                    "help": "When grid is set, all questions in the group must be of kind `row`.",
                                                    "name": "grid",
                                                    "spec": [
                                                        {
                                                            "name": "columns",
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "select",
                                                                    "label": "Choice Type",
                                                                    "options": [
                                                                        {
                                                                            "label": "Radio",
                                                                            "value": "RADIO"
                                                                        },
                                                                        {
                                                                            "label": "Checkbox",
                                                                            "value": "CHECKBOX"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "options",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Option"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Options"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Columns"
                                                        },
                                                        {
                                                            "name": "shuffleQuestions",
                                                            "type": "boolean",
                                                            "label": "Shuffle Questions"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Grid"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "sourceUri",
                                                            "type": "url",
                                                            "label": "Source URI"
                                                        },
                                                        {
                                                            "name": "altText",
                                                            "type": "text",
                                                            "label": "Alt Text"
                                                        },
                                                        {
                                                            "name": "properties",
                                                            "spec": [
                                                                {
                                                                    "name": "alignment",
                                                                    "type": "select",
                                                                    "label": "Alignment",
                                                                    "options": [
                                                                        {
                                                                            "label": "Left",
                                                                            "value": "LEFT"
                                                                        },
                                                                        {
                                                                            "label": "Right",
                                                                            "value": "RIGHT"
                                                                        },
                                                                        {
                                                                            "label": "Center",
                                                                            "value": "CENTER"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "width",
                                                                    "type": "uinteger",
                                                                    "label": "Width in pixels",
                                                                    "validate": {
                                                                        "max": 740,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Properties"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image",
                                                    "advanced": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Page Break Item",
                                            "value": "pageBreakItem"
                                        },
                                        {
                                            "label": "Text Item",
                                            "value": "textItem"
                                        },
                                        {
                                            "label": "Image Item",
                                            "value": "imageItem",
                                            "nested": [
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "sourceUri",
                                                            "type": "url",
                                                            "label": "Source URI",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "altText",
                                                            "type": "text",
                                                            "label": "Alt Text"
                                                        },
                                                        {
                                                            "name": "properties",
                                                            "spec": [
                                                                {
                                                                    "name": "alignment",
                                                                    "type": "select",
                                                                    "label": "Alignment",
                                                                    "options": [
                                                                        {
                                                                            "label": "Left",
                                                                            "value": "LEFT"
                                                                        },
                                                                        {
                                                                            "label": "Right",
                                                                            "value": "RIGHT"
                                                                        },
                                                                        {
                                                                            "label": "Center",
                                                                            "value": "CENTER"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "width",
                                                                    "type": "uinteger",
                                                                    "label": "Width in pixels",
                                                                    "validate": {
                                                                        "max": 740,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Properties"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Video Item",
                                            "value": "videoItem",
                                            "nested": [
                                                {
                                                    "name": "video",
                                                    "spec": [
                                                        {
                                                            "name": "youtubeUri",
                                                            "type": "url",
                                                            "label": "YouTube URI",
                                                            "required": true
                                                        },
                                                        {
                                                            "name": "properties",
                                                            "spec": [
                                                                {
                                                                    "name": "alignment",
                                                                    "type": "select",
                                                                    "label": "Alignment",
                                                                    "options": [
                                                                        {
                                                                            "label": "Left",
                                                                            "value": "LEFT"
                                                                        },
                                                                        {
                                                                            "label": "Right",
                                                                            "value": "RIGHT"
                                                                        },
                                                                        {
                                                                            "label": "Center",
                                                                            "value": "CENTER"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "width",
                                                                    "type": "uinteger",
                                                                    "label": "Width in pixels",
                                                                    "validate": {
                                                                        "max": 740,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Properties"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Video"
                                                },
                                                {
                                                    "name": "caption",
                                                    "type": "text",
                                                    "label": "Caption"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Item"
                        },
                        "type": "array",
                        "label": "Items"
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "quizSettings",
                                "spec": [
                                    {
                                        "name": "isQuiz",
                                        "type": "boolean",
                                        "label": "Is Quiz"
                                    }
                                ],
                                "type": "collection",
                                "label": "Quiz Settings"
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-drive:moveAFileIntoAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1564580
            },
            "mapper": {
                "file": "/{{1.formId}}",
                "move": "drive",
                "select": "file",
                "folderId": "{{3.data[].variables.job_folder_link.value}}",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "file": {
                            "mode": "edit",
                            "path": []
                        },
                        "move": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "File"
                        },
                        "folderId": {
                            "mode": "edit",
                            "path": [
                                "Job Advertisements",
                                "Junior Consultant 40-60% - 2023-04-17T19:26:52.665Z"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (digital.juicy.peaches@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "move",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select File/Folder",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://digibp.herokuapp.com/engine-rest/external-task/{{3.data[].id}}/complete",
                "data": "{\n  \"workerId\":\"IntegromatWorker\",\n  \"variables\":{\n    \"link_esti_request\":{\n      \"value\":\"{{1.responderUri}}\"\n    },\n    \"Wage_request_form_ID\":{\n      \"value\":\"{{1.formId}}\"\n    }\n  }\n}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 683,
                    "y": -6
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}